body {
  padding: 20px;
}

form label {
  display: block;
  font-size: 16px;
  margin: 20px 0 5px 0;
  color: gray;
  font-family: arial;
}
form input {
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 13px;
}
